{% macro input (name, placeholder, type='text', formData='', formMessages='',errorPrefix='') %}
    <div class="form-group">
        <label class="sr-only" for="input{{name}}">{{placeholder}}</label>
        <input class="form-control form-win {% if formMessages[name] is defined  %}is-invalid{% endif %}" 
            id="input{{name}}" 
            name="{{name}}" 
            placeholder="{{placeholder}}" 
            type="{{type}}" 
            value="{% if formData[name] is defined and formData[name] is not empty %} {{formData[name]}} {% endif %}">

        {% if formMessages[name] is defined  %}
            <div class="invalid-feedback">
                {{ (errorPrefix ~ '|' ~ formMessages[name]| first) | trans }}
            </div>
        {% endif %}
    </div>

{% endmacro %}
