{% macro displayMessage (viewMessages) %}

    {% if viewMessages['success'] is defined and viewMessages['success'] is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ viewMessages['success'] | first | trans }}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if viewMessages['error'] is defined and viewMessages['error'] is not empty   %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ viewMessages['error'] | first | trans }}
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

{% endmacro %}
