{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Oops!</h1>
        <h2>This is awkward.</h2>
        <p>We encountered a 404 Not Found error.</p>
        <p>
            You are looking for something that doesn't exist or may have moved. Check out one of the links on this page
                    or head back to
            <a href="{{ path('home') }}">Home</a>.
        </p>
    </div>
{% endblock %}
