<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="Supalift" name="author">
        <title>
            {% block title %}Home
            {% endblock %}
            | WhoIsNext</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/app.css" rel="stylesheet"/>
    <body>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom border-secondary">
            <h1 class="my-0 mr-md-auto font-weight-normal">
                <a href="{{ path('home')}}" >WhoIsNext<a/>
            </h1>
                <nav class="nav nav-masthead justify-content-center pr-2">
                    <a class="nav-link active" href="{{path('home')}}">Home</a>
                    {% block menu %}{% endblock %}
                    <!-- <a class="nav-link" href="{{path('loggin')}}">Connexion</a> -->
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </header>
            <div class="bg-secondary d-flex w-100 h-100 pt-5 mx-auto flex-column">
                <main class="inner" role="main">
                    {% block content %}
                    <div class=" text-center">
                        <p class="lead">Définissez une liste de personne, une période et nous gérerons le reste.
                            <br>Comme par exemple, à qui le tour de ramener les
                            <strong>chocos :)</strong>.</p>
                        <p class="lead">
                            <a href="{{ path('group.create')}}" class="btn btn-lg btn-primary">Creer votre liste</a>
                        </p>
                    </div>
                    {% endblock %}
                </main>
                <footer class="mastfoot mt-auto">
                    <div class="inner">
                        <p>WhoIsNext - 2019</p>
                    </div>
                </footer>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            {% block javascript %}{% endblock %}
        </body>
    </html>
