{% extends '@layout/default.html.twig' %}

{% block title %}Recherche de groupe {% endblock %}

{% block menu %}
    {% if formMessages.name is defined  %}
        <div>
            {{ ('group.name|' ~ formMessages.name | first) | trans }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h3 class="text-primary text-right"><strong>Résultats</strong></h3>

    {% for group in resultSearch %}

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top lazy" data-src="https://picsum.photos/200" alt="Image du groupe {{ group.name }}">
                    <div class="card-body">
                        <p class="card-text">{{ group.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('group.view',{'id':group.id})}}" class="btn btn-sm btn-outline-secondary">Voir</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
