{% extends '@layout/default.html.twig' %}
{% import "@macros/forms.html.twig" as forms %}
{% import "@macros/view-messages.html.twig" as messages %}

{% block title %}Voir votre groupe
{% endblock %}

{% block content %}
    <div class="container">

        {{ messages.displayMessage(viewMessages['viewMessage']) }}

        <h3 class="text-secondary text-right text-uppercase">
            <strong>{{group.name}}</strong>
        </h3>

        <div class="bg-dark p-3 mb-2" style="margin-right: -15px;margin-left: -15px;">
            <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-sm btn-light" data-target="#formAddUser" data-toggle="collapse" type="button">Ajouter un membre</button>

            <div class="collapse mt-2" id="formAddUser">
                <form action="{{ path('group.view',{'id':group.id})}}" method="POST">
                    <div class="row">
                        <div class="col-5">
                            {{ forms.input('name', 'Entrer votre nom','text',formData, formMessages, 'addUserName') }}
                        </div>
                        <div class="col-5">
                            {{ forms.input('email', 'Entrer votre email','email',formData, formMessages, 'addUserMail') }}
                        </div>
                        <div class="col-2 text-center">
                            <button class="btn btn-primary" type="submit">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="text-left mt-3">Prochain passage</div>
        <div id="usersPassage">
        {% for member in members %}
            <div class="row bg-dark p-3 mb-2" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)" id="{{'member-' ~ member.IdUser}}">
                <div class="col-8 text-left text-capitalize">
                    {{ member.name }}
                </div>
                <div class="col-3">
                    {{ member.dateAction | date('d/m/Y') }}
                </div>
                <div class="col-1">
                    <span class="badge badge-primary badge-pill">{{ member.nb_passage }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDrop" tabindex="-1" role="dialog" aria-labelledby="confirmDropCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDropLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("idDrag", ev.target.id);
        }

        function drop(ev) {
            $('#confirmDrop').modal('show');

            ev.preventDefault();
            var idDrag = ev.dataTransfer.getData("idDrag");
            var newNode = ev.target;
            var isGoNext = true;

            while (isGoNext == true) {
                if(newNode.getAttribute('id') != null && newNode.getAttribute('id').includes('member-',0) == true){
                    isGoNext = false;
                }else{
                    newNode = newNode.parentNode;
                }
            }

            //document.getElementById(idDrag).parentNode.insertBefore(newNode,document.getElementById(idDrag))
            newNode.parentNode.insertBefore(document.getElementById(idDrag),newNode)
            //ev.target.appendChild(document.getElementById(data));
        }
    </script>
{% endblock %}
