{% extends '@layout/default.html.twig' %}
{% import "@macros/forms.html.twig" as forms %}

{% block title %}Créer votre groupe
{% endblock %}
{% block content %}
<div class="container">

{% if formMessages is defined  %}
{% for message in formMessages %}
<div class="alert alert-{{message.type}}" role="alert">
    {{ message.message | trans }}
</div>
{% endfor %}
{% endif %}

<form action="{{ path('group.create.post')}}" method="POST" class="text-left">
    {{ forms.input('email', 'Entrer votre e-mail','email') }}
    {{ forms.input('name', 'Entrer votre pseudo') }}
    {{ forms.input('groupName', 'Entrer le nom de votre groupe') }}

        Définir la périodicité :
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="lundi" name="period" type="radio" value="mon">
        <label class="custom-control-label" for="lundi">Lundi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="mardi" name="period" type="radio" value="tue">
        <label class="custom-control-label" for="mardi">Mardi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="mercredi" name="period" type="radio" value="wed">
        <label class="custom-control-label" for="mercredi">Mercredi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="jeudi" name="period" type="radio" value="thu">
        <label class="custom-control-label" for="jeudi">Jeudi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="vendredi" name="period" type="radio" value="fri">
        <label class="custom-control-label" for="vendredi">Vendredi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="samedi" name="period" type="radio" value="sat">
        <label class="custom-control-label" for="samedi">Samedi</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="dimanche" name="period" type="radio" value="sun">
        <label class="custom-control-label" for="dimanche">Dimanche</label>
    </div>
    <div class="text-right mt-4">
        <button class="btn btn-lg btn-primary" type="submit">Créer votre groupe</button>
    </div>
</form>
</div>
{% endblock %}