{% extends '@layout/default.html.twig' %}
{% import "@macros/forms.html.twig" as forms %}

{% block title %}WhoIsNext - Connexion
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin">
            {{ forms.input('email', 'Entrer votre e-mail') }}
            {{ forms.input('password', 'Password', 'password') }}

            <button class="btn btn-lg btn-secondary" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
